﻿@model ContactBook.Models.DAL.Company

@{
    ViewBag.Title = "Детали";
}



<div>
    <h4>Коротко о компании</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>Список сотрудников:</dt>

        @foreach (var item in Model.Employes)
        {
            <dd>- @item.Name</dd>            
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
