﻿@model IEnumerable<ContactBook.Models.DAL.Company>

@{
    ViewBag.Title = "Компании";
}

<h2>Список компаний</h2>

<p>
    @Html.ActionLink("Добавить компанию", "Create")
</p>
<table class="table">
    <tr>
        <th>            
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id = item.ID }) 
            @*@Html.DisplayFor(modelItem => item.Name)*@
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Детально", "Details", new { id = item.ID }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
