﻿
@{
    ViewBag.Title = "Главная страница";
}

<h2>Задание</h2>
<p>Использовать технологии:</p>
<p>MVC .NET Razor, Entity Framework, БД - не так важно , какая.</p>
<p>1. В БД есть информация о контактных/телефонных данных компаний.</p>
<p>Т.е. есть компания, есть сотрудники компании, у одного сотрудника может быть несколько телефонных номеров.</p>
<p>(т.е. связка компания, сотрудники компании, телефонные номера сотрудника)</p>
<p>2. Сделать сайт/страницу, на которой отображались бы:</p>
<p>список компаний, по нажатию на компанию - отобразить список сотрудников компании,</p>
<p>при выбора сотрудника - список телефонных номеров сотрудника.</p>


