﻿@model ContactBook.Models.DAL.Employe

@{
    ViewBag.Title = "Детально";
}
<div>
    <h4>Коротко о сотруднике</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>Список номеров:</dt>

        @foreach (var item in Model.PhoneNumber)
        {
            <dd>- @item.Number</dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
