﻿@model ContactBook.Models.DAL.PhoneNumber

@{
    ViewBag.Title = "Удаление номера";
}

<div>
    <h4>Вы точно хотите удалить номер телефона у сотрудника?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employe.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employe.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
