﻿@model ContactBook.Models.DAL.PhoneNumber

@{
    ViewBag.Title = "Детали";
}

<div>
    <h4>Информация о номере телефона</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employe.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employe.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
